$background: #000000;
$light-blue: #54EFEA;
$dark-blue:#1c92d2;
$font: 'Orbitron', sans-serif;

body{
  font-family: $font;
  color: $light-blue;
  display: flex;
  justify-content: center;
  padding: 0px;
  align-items: center;
  background-color: $background;
  height: 100%;
  cursor: crosshair;
  margin: 0px;
}


#root{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $background;
  height: 100%;

  canvas{
    margin-top: 50px;
  }
}



